* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lato, Arial, sans-serif;
  color: #171923;
}
body {
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 3.5em;
  overflow: hidden;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1635776062043-223faf322554?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.upload-menu-container {
  width: 85%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 45px;
  overflow: auto;
  box-shadow: 1px 1px 4px 1px rgba(77, 97, 252, 0.2);
}

.upload-menu-container header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 24px, 32px; */
  text-transform: capitalize;
  background-color: #edf2f7;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid lightgray;
}

.content-header h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #2d3748;
}

.content-header h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #2d3748;
  margin-bottom: 12px;
}
.upload-menu-container header strong {
  font-size: 18px;
  font-weight: 400;
}

.menu-content-container {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

.content-upload {
  flex-grow: 1;
  margin-top: 1em;
  border: 3px dashed lightgray;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: background-color 0.3s ease;
}

.form-group {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

form .text-block {
  margin-top: 1rem;
  text-align: center;
}

.text-block strong {
  font-weight: bold;
  display: block;
  font-family: Lato, Arial, sans-serif;
  color: #414141;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}

.text-block p {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: Proximanova, sans-serif;
  color: #919191;
  font-size: 16px;
}

.text-block a {
  cursor: pointer;
  font-family: Proximanova, sans-serif;
  color: #919191 !important;
  font-size: 15px;
  user-select: none;
}

.text-block a:hover {
  text-decoration: underline !important;
  color: #414141 !important;
}

#browse-button {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 9px 20px;
  height: 2.4em;
  border-radius: 4px;
  background-color: #4d9ffc;
  color: #fff;
  font-family: Lato, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  transition: background-color 0.3s ease;
}

#browse-button:active {
  background-color: #4286d4;
}

.content-upload:hover {
  background-color: #f3f0f0;
  border: 3px dashed #5d55fa;
}

.active {
  background-color: #f3f0f0;
}

.spinner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spinner-container .spinner-border {
  color: #0050ac;
  height: 50px;
  width: 50px;
  border-width: 0.35em;
  border-right-color: lightgray;
  margin-bottom: 1rem;
}

.spinner-container strong {
  font-family: Lato, Arial, sans-serif;
  color: #414141;
}

h5 {
  text-align: center;
}

.messages-container {
  margin: 1rem 3rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.messages-container a {
  text-align: center;
}

.card {
  width: 100% !important;
}

.animate-slidein {
  animation: fadein 1s;
  position: relative;
}

@keyframes fadein {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

.card-title {
  font-size: 20px;
  font-weight: 800;
}

.table-container {
  border: 1px solid #e2e8f0;
  padding: 10px 24px 0 24px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: none;
  box-shadow: 0 -30px 40px rgba(240, 240, 240, 0.25) inset;
}

.table-container-overlay {
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 212, 255, 0) 50%);
}

table {
  margin-bottom: 0px !important;
}
.table-heading {
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: black;
  /* padding: 4px 10px; */
  width: 250px;
}
.table-content {
  color: #9c9999;
  font-size: 0.8rem;
  font-family: Lato, Arial, sans-serif;
  font-weight: 500;
}
